.animate-in {
  animation: animate-in 0.3s ease-out 0s 1;
}
.animate-out {
  animation: animate-out 0.3s ease-out 0s 1;
}

@keyframes animate-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes animate-out {
  from {
    transform: translateX(0%) scale(1);
  }
  to {
    transform: translateX(-25%) scale(0.9);
  }
}

.backdrop-fade-in {
  animation: backdrop-fade-in 0.3s ease-out 0s 1;
  background: black;
}

@keyframes backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}
